.react-content,
.vite-overlay {
    position: absolute;
    height: 100vh;
    cursor: url('../assets/vite-cursor.svg'), auto;
}

.react-body,
.vite-overlay {
    background-position-y: center;
    width: 100%
}

.react-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #21272b
}

.react-body,
.vite-overlay {
    background-position-x: right;
    background-image: url('../react-folder/reactjs-icon2.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: .5s
}

.react,
.vite {
    will-change: filter;
    transition: filter .3s
}

.vite-overlay {
    background-position-x: left;
    background-image: url('../react-folder/vite.png');
    margin-left: -100px;
    z-index: -1;
    background-size: 25vh
}

.react-body {
    background-repeat: no-repeat;
    margin-right: -100px;
    background-size: 20vh;
    height: 100%
}

.react-head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 3;
    padding: 20% 10px
}

.react {
    content: url('../react-folder/react.svg');
    width: 30vh
}

.vite {
    content: url('../react-folder/vite.svg');
    width: 20vh
}

.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa)
}

.vite:hover {
    filter: drop-shadow(0 0 2em #f173ebaa)
}

.react-img {
    content: url('../react-folder/react.svg');
    width: 50px
}

.react-pgraph {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 300
}

.react-header {
    font-weight: 500;
    color: #bcf3f3
}

a {
    cursor: url('../assets/vite.svg'),auto;
}

.react-title {
    font-weight: 300;
    color: #fff
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    align-items: center;
    padding:10px
}

.version {
    color: #9c9a9a;
}

.github {
    content: url('./github.png');
    width: 120px;
}

.git {
    display: flex;
    align-items: center;
    color: #8d8787 ;
    text-decoration: none;
    will-change: filter;
    filter: drop-shadow(0 0 2em #fbfdfdda);
}


@media (prefers-reduced-motion:no-preference) {
    .react {
        animation: 10s linear infinite React-Spins
    }
}

@keyframes React-Spins {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@media only screen and (max-width:703px) {
    .react-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: .5s;
        gap: 20px
    }
}

@media only screen and (max-width:450px) {

    .react-js,
    .react-title {
        font-size: 3vw
    }
}

@media only screen and (max-width:344px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: .5s
    }

    .netlify,
    .nodejs {
        height: 5vh
    }
}